<mat-drawer-container class="example-container" fullscreen>
  <mat-drawer autoFocus mode="over" #sidenav >
    <div class="drawer-content">
      <button (click)="sidenav.toggle()" [routerLink]="['/ManagerUser']" routerLinkActive="router-link-active"
       class="drawer-button" mat-button><i class="fas fa-users fa-lg" style="margin-right: 15px;"></i>Quản lý Users</button>
       <button (click)="sidenav.toggle()" [routerLink]="['/ManagerFile']" routerLinkActive="router-link-active"
       class="drawer-button" mat-button><i class="fas fa-file fa-lg" style="margin-right: 15px;"></i>Quản lý File</button>
       <button *ngIf="checkLogin()" (click)="sidenav.toggle()" (click) = "logout()"  class="drawer-button" mat-button><i class="fas fa-sign-out-alt fa-lg" style="margin-right: 15px;"></i>Đăng xuất</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <p>
        <mat-toolbar class="toolbar">
          <button (click) = "sidenav.toggle()" id = "BtMenuSide" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="example-spacer"></span>
          <div *ngIf="checkLogin()" class="nav-content">
               <button  [matMenuTriggerFor]="menu" class="bt-fsc" mat-button >Tài khoản <mat-icon>arrow_drop_down</mat-icon></button>
               <mat-menu #menu="matMenu">
                <button mat-menu-item >
                  <span (click) = "logout()" style="color: black;"><i class="fas fa-sign-out-alt" style="margin-right: 10px;color: black;"></i>Đăng xuất</span>
                </button>
              </mat-menu>
          </div>
        </mat-toolbar>
      </p>
      <div class="line-hr"></div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

